<li class="menuentry" (click)="scoresModal.open(); open();">View best scores</li>
<modal #scoresModal [hideCloseButton]="false" [closeOnEscape]="false" [closeOnOutsideClick]="false" modalClass="modal-sm">
  <modal-header>
    <img width="32" src="{{logo}}">{{name}}
  </modal-header>
  <modal-content>
    <ul style="overflow: auto">
      <li class="score" *ngFor="let score of scores">
        <div class="rank">{{score?.formattedScoreRank}}</div>
        <div class="avatar"></div>
        <div class="info">
          <div class="name">{{score?.player?.displayName}}</div>
          <div class="score">{{score?.formattedScore}}</div>
        </div>
      </li>
    </ul>
  </modal-content>
  <modal-footer></modal-footer>
</modal>