<li *ngIf="game.level > 0" class="menuentry" (click)="scoresModal.open(); open();"><span i18n="level_scores"></span>
<modal #scoresModal [hideCloseButton]="false" [closeOnEscape]="false" [closeOnOutsideClick]="false" modalClass="modal-sm">
  <modal-header>
    <img width="32" src="{{logo}}"><span class="title">{{name}}</span>
  </modal-header>
  <modal-content>
    <ul *ngIf="scores?.length">
      <li class="score" *ngFor="let score of scores">
        <div class="rank">{{score?.formattedScoreRank}}</div>
        <div class="avatar"></div>
        <div class="info">
          <div class="name">{{score?.player?.displayName}}</div>
          <div class="score">{{score?.formattedScore}}</div>
        </div>
      </li>
    </ul>
    <div class="no-score" *ngIf="selectedBoard && scores != null && !scores.length" i18n="no_scores_yet"></div>
  </modal-content>
  <modal-footer></modal-footer>
</modal>
</li>

