ul {
  padding: 0;  
}

>>> li.menuentry  { 
  list-style-type: none;
  height: 48px;
  line-height: 48px;
}

>>> li.menuentry > span {
  display: inline-block;
  width: 100%;
  font-size: 21px; 
  text-align: center;
  cursor: pointer;
  color: #777;  
}

>>> li.menuentry:hover {
  color: #444;
}

.menuicon { 
  font-size: 36px; 
  color: white; 
  cursor: pointer; 
}
