<span class="menuicon glyphicon glyphicon-option-vertical" (click)="menuModal.open()"></span>
<modal #menuModal title="Arithmetis" [hideCloseButton]="false" [closeOnEscape]="false" [closeOnOutsideClick]="false" modalClass="modal-sm">
  <modal-content>
    <ul>
      <li class="menuentry" (click)="menuModal.close(); go()"><span>Restart game</span></li>
      <li class="menuentry" (click)="menuModal.close(); goDemo()"><span>Demo</span></li>
      <app-menu-scores *ngIf="gpgs.connected"></app-menu-scores>
      <app-menu-leaderboards *ngIf="gpgs.connected"></app-menu-leaderboards>
    </ul>
  </modal-content>
  <modal-footer>&nbsp;</modal-footer>
</modal>