<li class="menuentry" (click)="leaderboardsModal.open(); open();"><span i18n="view_leaderboards"></span>
  <modal #leaderboardsModal title="{{i18n.t('leaderboards')}}" [hideCloseButton]="false" [closeOnEscape]="false" [closeOnOutsideClick]="false"
    modalClass="modal-sm">
    <modal-content>
      <ul *ngIf="boards!=null && selectedBoard == null">
        <li class="leaderboard" *ngFor="let board of boards" (click)="selectBoard(board)">
          <img width="48" src="{{board.iconUrl}}"><span>{{board.name}}</span>
        </li>
      </ul>

      <ul *ngIf="selectedBoard && scores?.length">
        <li class="score" *ngFor="let score of scores">
          <div class="rank">{{score?.formattedScoreRank}}</div>
          <div class="avatar"></div>
          <div class="info">
            <div class="name">{{score?.player?.displayName}}</div>
            <div class="score">{{score?.formattedScore}}</div>
          </div>
        </li>
      </ul>
      <div class="no-scores" *ngIf="selectedBoard && scores != null && !scores.length" i18n="no_scores_yet"></div>
    </modal-content>
    <modal-footer></modal-footer>
  </modal>
</li>