<div [hidden]="gpgs.connected"><div id="google-login-button"></div></div>
<div [hidden]="!gpgs.connected">{{gpgs.profile?.getName()}} <button (click)="signout()">sign out</button></div>
<div class="infos">
  <div class="scores">
    <div class="level" *ngIf="game.started">{{i18n.t('level_n', {d: game.level})}}</div>
    <div class="linesleft" *ngIf="game.started">{{i18n.t('n_lines_left', {count: game.linesLeft})}}</div>
  </div>
  <div class="gobtn"><button (click)="go()" i18n="gobtn"></button></div>
  <div class="chrono"><app-chrono></app-chrono></div>
</div>
<div class="grid">
  <app-square *ngFor="let none of loop25; let i=index" [place]="getPlaceGrid()" [index]="i"></app-square>
</div>

<div class="rack">
  <app-square *ngFor="let none of loop5; let i=index" [place]="getPlaceRack()" [index]="i"></app-square>
</div>
