<div class="grid">
  <app-square></app-square><app-square></app-square><app-square></app-square><app-square></app-square><app-square></app-square>
  <app-square></app-square><app-square></app-square><app-square></app-square><app-square></app-square><app-square></app-square>
  <app-square></app-square><app-square></app-square><app-square></app-square><app-square></app-square><app-square></app-square>
  <app-square></app-square><app-square></app-square><app-square></app-square><app-square></app-square><app-square></app-square>
  <app-square></app-square><app-square></app-square><app-square></app-square><app-square></app-square><app-square></app-square>
</div>

<div class="rack">
    <app-square [place]="getPlaceRack()" index="0"></app-square>
    <app-square [place]="getPlaceRack()" index="1"></app-square>
    <app-square [place]="getPlaceRack()" index="2"></app-square>
    <app-square [place]="getPlaceRack()" index="3"></app-square>
    <app-square [place]="getPlaceRack()" index="4"></app-square>
</div>

<button (click)="go()">go!</button>