.topbar { 
  display: flex;
  width: 340px;
  margin: 10px auto;
}
@media screen and (max-width: 359px) {
  .topbar { width: 260px; }
}

.signin {
  width: 292px;
}

@media screen and (max-width: 359px) {
  .signin { width: 252px; }
}

.signout {
  width: 292px;
}
@media screen and (max-width: 359px) {
  .signout { width: 252px; }
}

.signout > .name {
  color: white;
}

.menu { width: 48px; }

.infos { 
  width: 340px;
  margin: 0px auto 8px;  
  display: flex;
}
@media screen and (max-width: 359px) {
  .infos { width: 260px; }
}

.infos > .scores {
  width: 136px;
  text-align: center;
  color: white;
}
@media screen and (max-width: 359px) {
  .infos > .scores { width: 116px; }
}

.infos > .scores > .level {
  font-size: 20px;
  font-weight: bold;
}

.infos > .scores > .lines-left {
  width: 136px;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: normal;
}
@media screen and (max-width: 359px) {
  .infos > .scores > .lines-left { width: 116px; font-size: 12px; }
}

.infos > .gobtn {
  width: 68px;
  text-align: center;
}

.infos > .gobtn > button {
  width: 40px;
  height: 40px; 
  margin-top: 2px;
}

.chrono {
  width: 136px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
@media screen and (max-width: 359px) {
  .chrono { width: 116px; }
}

.my-best {
  width: 136px;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: normal;
}
@media screen and (max-width: 359px) {
  .my-best { width: 116px; font-size: 12px; }
}

.grid {
  width: 340px;
  height: 340px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin: 0 auto; 
  background-color: white;
  border-radius: 8px;
  font-family: 'Roboto Mono';
}

@media screen and (max-width: 359px) {
  .grid { width: 260px; height: 260px; }
}

.rack {
  width: 340px;
  height: 76px;
  margin: 20px auto;
  display: flex;
  padding: 5px;
  background-color: white;
  border-radius: 8px;
  font-family: 'Roboto Mono';
}

@media screen and (max-width: 359px) {
  .rack { width: 260px; height: 60px; }
}

body { 
  background-color: #009688;
  font-family: 'Roboto', sans-serif;
}