<div class="grid">
  <app-square></app-square><app-square></app-square><app-square></app-square><app-square></app-square><app-square></app-square>
  <app-square></app-square><app-square></app-square><app-square></app-square><app-square></app-square><app-square></app-square>
  <app-square></app-square><app-square></app-square><app-square></app-square><app-square></app-square><app-square></app-square>
  <app-square></app-square><app-square></app-square><app-square></app-square><app-square></app-square><app-square></app-square>
  <app-square></app-square><app-square></app-square><app-square></app-square><app-square></app-square><app-square></app-square>
</div>

<div class="rack">
    <app-square></app-square><app-square></app-square><app-square></app-square><app-square></app-square><app-square></app-square>
</div>
