.topbar { 
  display: flex;
  width: 340px;
  margin: 10px auto;
}

.signin {
  width: 292px;
}

.signout {
  width: 292px;
}

.signout > .name {
  color: white;
}

.menu { width: 48px; }

.infos { 
  width: 340px;
  margin: 0px auto 8px;  
  display: flex;
}

.infos > .scores {
  width: 136px;
  text-align: center;
  color: white;
}

.infos > .scores > .level {
  font-size: 20px;
  font-weight: bold;
}

.infos > .scores > .lines-left {
  width: 136px;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: normal;
}

.infos > .gobtn {
  width: 68px;
  text-align: center;
}

.infos > .gobtn > button {
  width: 40px;
  height: 40px; 
  margin-top: 2px;
}

.chrono {
  width: 136px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.my-best {
  width: 136px;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: normal;
}

.grid {
  width: 340px;
  height: 340px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin: 0 auto; 
  background-color: white;
  border-radius: 8px;
  font-family: 'Roboto Mono';
}

.rack {
  width: 340px;
  height: 76px;
  margin: 20px auto;
  display: flex;
  padding: 5px;
  background-color: white;
  border-radius: 8px;
  font-family: 'Roboto Mono';
}

body { 
  background-color: #009688;
  font-family: 'Roboto', sans-serif;
}